.netmonitor-rate,
.netmonitor-indicator-label,
.netmonitor-header-rate,
.netmonitor-process-total,
.netmonitor-process-rates {
    font-family: monospace;
    font-feature-settings: "tnum";
}

.netmonitor-indicator-label {
    min-width: 15em;
    text-align: right;
}

.netmonitor-header-title {
    font-weight: bold;
}

.netmonitor-header-rate {
    min-width: 8em;
}

.netmonitor-process-name {
    font-weight: 600;
}

.netmonitor-process-total {
    min-width: 7em;
    margin-left: 12px;
    text-align: right;
}

.netmonitor-process-rates {
    font-size: 0.9em;
    min-width: 15em;
}

.netmonitor-status {
    padding: 8px 12px;
}
